<%- include elements/loginheader.ejs %> 
<div class="auth-layout-wrap" style="background: #eee;">
    <div class="auth-content" style="min-width: 360px; width: 360px">
        <div class="card o-hidden">
            <form method="post" action="/api/admin/reset">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4">
                            <h1 class="mb-3 text-18">Reset Password</h1>
                             
                            <%- include elements/flash.ejs %>
                            <div class="form-group">
                                <label for="email">Email address<span class="astric">*</span></label>
                                <input type="text" name="email" class="form-control" placeholder="E-Mail" value="<%=data.email%>"/>
                                <span class="error"><%=errorData.email%></span>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mt-4">Get a new password</button>

                            <div class="mt-3 text-center">
                                <a class="text-muted" href="<%=nodeAdminUrl%>/auth">
                                    <u>Sign In?</u>
                                </a>
                            </div>
                          
                        </div>
                    </div>
                </div>
            <form>
        </div>
    </div>
</div>

<%- include elements/loginfooter.ejs %> 