<!DOCTYPE html>
<html lang="en" dir="">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%=page_title%></title>
    
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
    <link href="<%=nodeSiteUrl%>/backend/css/themes/lite-purple.min.css" rel="stylesheet" />
    <link href="<%=nodeSiteUrl%>/backend/css/plugins/perfect-scrollbar.min.css" rel="stylesheet" />
    <!-- custom css -->
    <link href="<%=nodeSiteUrl%>/backend/custom.css" rel="stylesheet" />
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     
    <!-- Datatables -->
    <link href="<%=nodeSiteUrl%>/backend/css/plugins/datatables.min.css" rel="stylesheet"/>
    
    <!--Password Validator -->
    <link href="<%=nodeSiteUrl%>/backend/password/jquery.password.css" rel="stylesheet" />
    <style>
	    .alert p {
	        font-size: 12px;
	        margin-bottom: 0px;
	    }
    </style>
</head>

<body class="text-left">
    <div class="app-admin-wrap layout-sidebar-compact sidenav-open clearfix sidebar-gradient-purple-indigo">


<%- include leftbar.ejs %> 

            